.nav {
    width: 1140px;
    margin: 0 auto;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
}

.nav .navLeft {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav .navLeft img {
    width: 168px;
}

.nav .navLeft .NavMenu {
    display: flex;
    gap: 30px;
}

.nav .navLeft .NavMenu li {
    font-size: 16px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.nav .navRight {
    display: flex;
    align-items: center;
    gap: 25px
}

.nav .navRight .leng {
    width: 80px;
    height: 44px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 3px;
    cursor: pointer;
    border-radius: 7px;
}

.nav .navRight .leng option {
    color: white;
    font-size: 16px;
}

.nav .navRight .contactUs {
    font-size: 16px;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
}

.navRes {
    display: none;
}

@media screen and (max-width: 420px) {
    .nav {
        display: none;
    }

    .navRes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .navRes .logo {
        width: 140px;
    }

    .navRes button {
        border: none;
        background-color: transparent;
    }

    .navRes .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        background: #10181B;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 20px 20px;
        gap: 34px;
        z-index: 3;
    }

    .navRes .menu button {
        border: none;
        background-color: transparent;
    }

    .navRes .close {
        display: none;
    }

    .navRes .menu span {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .navRes .menu .leng {
        padding: 10px;
        border-radius: 14px;
        background-color: transparent;
        color: white;
    }
}